.main {
    max-width: 800px;
}

.navbar-item {
    margin-left: 20px;
}

.copy-regex {
    text-decoration: none;
}

.greeting_user {
    margin-left: 750px;
    font-size: 20px;
    font-weight: 500;
}

.welcome-block {
    text-align: center;
}