.main {
    max-width: 800px;
}

.navbar-item {
    margin-left: 20px;
}

.copy-regex {
    text-decoration: none;
}

.greeting_user {
    margin-left: 650px;
    font-size: 20px;
    font-weight: 500;
}

.welcome-block {
    text-align: center;
}

.regex-content {
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(227, 233, 238);
}